.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url(/src/assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;

  .sideNavContainer {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    .sideNav {
      padding: 10px;
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.381);
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;

      .navicon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 100ms;
        border: 1px solid white;
        color: white;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          background-color: white;
          color: black !important;
        }
      }
    }
  }

  .contentArea {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .contentDiv {
      width: 70%;
      height: 90%;
      backdrop-filter: blur(10px);
      background-color: rgb(170, 133, 0);
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      animation: bubble 10s ease-in-out infinite;
      margin-bottom: 10px;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;

      @keyframes bubble {
        0% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50% {
          border-radius: 30% 60% 70% 40% / 50% 60% 30% 70%;
        }
        100% {
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
