.cardContainer {
  width: 95%;
  border: 1px solid #fff;
  border-left: 10px solid #fff;
  background: rgba(255, 255, 255, 0.201);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 500ms;

  &:hover {
    transform: scale(1) !important;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(71, 0, 0);
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(54, 54, 54);
  }

  .description {
    font-size: 1rem;
    display: none;
    font-family: "Courier New", Courier, monospace;
  }
}
